body{
    width: 70vw;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    margin: 1em 0 0.5em 0;
    padding: 0 0.2em;
}


p{
    padding: 1em 0.2em;

}


li{
    padding: 0.5em 0;
}



a:link{
    padding: 0.1em 0.2em;

}



article{
    margin: 2.5em 0 5em 0;
    padding-left: 1em;
    

}


img{
    max-width: 100%;
}

figure{
    width: 80%;
    display: block;
    margin: 4em auto;
}

figcaption{
    padding: 1em;
}






@media only screen and (max-width: 1024px){
    body{
        width: 85vw;
    }

}


@media only screen and (max-width: 768px){
    body{
        width: 95vw;
    }

}

@media print{
    body{
        width: 100%;
    }
    ul, ol, figure{
        break-inside: avoid;
    }
}
